<!DOCTYPE html> 
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href = "style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title> BMW | Leandre</title>

</head>

<body>
    <header>
        <nav>
            <img src="logo.png" class="logo" alt="">
            <div class="menu">
                <a href="moto1.html">Aceuil</a>
                <a href="moto2.html">Equipe</a>
                <a href="modeleselect.html">Modeles</a>
                <a href="login.html">Login</a>
            </div>
        
            <div class="reseaux">
                <a href="https://www.instagram.com/bmwmotorrad_france/?hl=fr"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </header>   

    <div class="A">
        <div class ="texte">
            <h1>Les veritables Moto</h1>
            <h4>Decouvrez les gammes Bagger</h4>
            <p>Cliquez sur le bouton pour voir nos modeles</p>
            <a href="modeleselect.html" class="bouton">Modeles</a>
        </div>
    </div>  
    
</body>
</html>
